*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin/
local.properties
gen/
.classpath
.idea/
.project
ControllerApp.iml
build/
.gradle/*
ABS/ABS.iml
ABS/abs.iml
ABS/abs.iml
BadgeView/BadgeView.iml
ControllerApp/ControllerApp-ControllerApp.iml
MPChartLib/MPChartLib.iml
SFLibrary/SFLibrary.iml
SeekArc/SeekArc.iml
SlidingMenu/SlidingMenu.iml
StickyGridHeaders/StickyGridHeaders.iml
TuringCat/TuringCat.iml
UpPlatformSdk/UpPlatformSdk.iml
ViewPagerIndicator/ViewPagerIndicator.iml
Volley/Volley.iml
comunication/comunication.iml
logiclayer/logiclayer.iml
*.iml
*.DS_Store
tags
